@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$mainWhite: #ffffff;
$mainBlack: #000000;
$primaryColor: #272727;
$secondaryColor: #d1d1d1;
$accentColor: #b60000;

$titleColor: #181818;
$subtitleColor: #757575;
$textColor: #424242;

$titleSize: 3.2rem;
$subtitleSize: 2.2rem;
$textSize: 1.1rem;


$fontFamily: 'Inter', sans-serif;
$letterSpacing: -0.8px;
$borderRadius: 8px;