footer {
    border-top: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        text-align: center;
    }

    p {
        font-size: 15px;
    }

    img {
        width: 50px;
        filter: saturate(0%);
    }

    .tags {
        display: flex;
        justify-content: flex-end;
        gap: 15px;
    }

    ul {
        width: 100%;
        list-style: none;
        margin: 0 1em;
        display: flex;
        flex-direction: column;
        gap: 8px;

        a {
            color: #8b8b8b;
        }
    }
}

@media screen and (max-width: 400px){
    footer{
        flex-direction: column;
    }
    
}